---
interface Props {
    css?: string;
    href: string;
    bg?: string;
    color?: string;
    borderRadius?: string;
}

const { css = "", bg = "bg-gray-950", color = "text-white", borderRadius = "", href } = Astro.props as Props;
---

<a href={href} class={`${css} ${bg} ${color} ${borderRadius}`}>
    <span class="flex flex-row items-center justify-center gap-2">
        <slot />
    </span>
</a>

<style>
    a {
        cursor: pointer;
        display: inline-block;
        /* font-family: inherit; */
        /* letter-spacing: 0.05rem; */
        outline: none;
        overflow: hidden;
        position: relative;
    }

    a span {
        position: relative;
        transition: color 0.4s;
        z-index: 10;
    }

    a:hover span {
        color: #121212;
    }

    a::before,
    a::after {
        border-radius: inherit;  
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    a::before {
        content: "";
        left: -10%;
        transform: skew(30deg);
        width: 120%;
        clip-path: inset(0 round inherit);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }

    a:hover::before {
        transform: translate3d(100%, 0, 0);
    }
</style>