---
interface Props {
    css?: string;
    href: string;
    text: string;
    bg?: string;
    color?: string;
    borderRadius?: string;
}

const { css = "", bg = "bg-gray-950", color = "text-white", borderRadius = "", href, text } = Astro.props as Props;
---

<a href={href} class={`w-full rounded-md px-8 py-3 text-center text-lg font-semibold shadow-xs ${bg} ${color} ${borderRadius} md:w-fit`}>
    <span>{text}</span>
</a>

<style>
    a {
        border: none;
        cursor: pointer;
        display: inline-block;
        /* font-family: inherit; */
        /* letter-spacing: 0.05rem; */
        margin: 0;
        outline: none;
        overflow: hidden;
        position: relative;
    }

    a span {
        position: relative;
        transition: color 0.4s;
        z-index: 10;
    }

    a:hover span {
        color: #121212;
    }

    a::before,
    a::after {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    a::before {
        background: #D4AF37;
        content: "";
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        width: 120%;
    }

    a:hover::before {
        transform: translate3d(100%, 0, 0);
    }
</style>